---
import type { Plan } from '../cards/types'
import Container from '../shared/Container.astro'
import Pricing from '@comp/cards/Pricing.astro'

const plans: Plan[] = [
  {
    name: 'Plan Landing Page Simple',
    shortDescription: 'Diseño y desarrollo de página de inicio',
    price: {
      ars: 15000,
      usd: 30,
    },
    options: [
      'Diseño y desarrollo de la página de inicio (Home).',
      'Integración de formularios de contacto y seguimiento de conversiones básico.',
    ],
    extras: ['Páginas adicionales: $3,000 ARS por cada página extra.'],
  },
  {
    name: 'Plan Ecommerce Básico',
    shortDescription: 'Sitio web de ecommerce con hasta 10 productos',
    price: {
      ars: 25000,
      usd: 50,
    },
    options: [
      'Creación de un sitio web de ecommerce con hasta 10 productos.',
      'Diseño personalizado, carrito de compras y pasarela de pagos integrada.',
      'Configuración de envío y opciones de categorización de productos.',
    ],
    extras: ['Páginas adicionales: $3,000 ARS por cada página extra.'],
  },
  {
    name: 'Plan Blog Profesional',
    shortDescription: 'Diseño y desarrollo de un blog',
    price: {
      ars: 20000,
      usd: 40,
    },
    options: [
      'Diseño y desarrollo de un blog con sistema de gestión de contenido.',
      'Personalización de la apariencia, categorías de publicaciones y funcionalidad de comentarios.',
      'Integración con redes sociales y optimización básica para SEO.',
    ],
    extras: ['Páginas adicionales: $3,000 ARS por cada página extra.'],
  },
  {
    name: 'Plan Desarrollo de API',
    shortDescription: 'Análisis, diseño e implementación de API',

    price: {
      ars: 50000,
      usd: 100,
    },
    options: [
      'Análisis y diseño de la API según las necesidades del cliente.',
      'Implementación y documentación completa de la API.',
      'Pruebas exhaustivas y asistencia en la integración con otros sistemas.',
    ],
    extras: [],
  },
]
---

<!-- component -->
<link rel='stylesheet' href='https://cdn.tailgrids.com/tailgrids-fallback.css' />

<!-- ====== Pricing Section Start -->
<section id='pricing'>
  <Container>
    <div class='flex flex-wrap -mx-4'>
      <div class='w-full px-4'>
        <div class='text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px]'>
          <span class='font-semibold text-lg text-primary mb-2 block'> Pricing Table</span>
          <h2 class='font-bold text-3xl sm:text-4xl md:text-[40px] dark:text-white mb-4'>
            Our Pricing Plan
          </h2>
          <p class='text-base text-body-color'>
            There are many variations of passages of Lorem Ipsum available but the majority have
            suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class='flex flex-wrap justify-center -mx-4'>
      {
        plans.map((plan) => (
          <Pricing
            shortDescription={plan.shortDescription}
            name={plan.name}
            options={plan.options}
            extras={plan.extras}
            price={plan?.price}
          />
        ))
      }
    </div>
  </Container>
</section>
<!-- ====== Pricing Section End -->
